*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box {
   
    background-color: rgb(255, 0, 234);
    height: 100px;
    position: relative;
    display: flex;
}
h3 {
    margin: auto;
    position: relative;

}
h3::after {
    position: absolute;
    left: 0;
    content: "";
    border-left: 3px solid #333;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
}


/* h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%,-50%);
} */