*{
    margin: 0;
    padding: 0;
}
 .to{
    width: 900px;
    margin: auto;
    background: lightblue;
    display: flex;
} 
.k1{
    background: brown;
    color: white;
    padding: 14px;
    margin: 2px;
    border-radius: 4px;
    flex-direction: row;
}