*{
    padding: 0;margin: 0;
}
.banner{
    text-align: center;
    border:1px solid red;
}
.cangiua{
    width: 1000px;
    height: auto;
}
.noidung{
    width: 800px;
}
.tieude h2{
    font-family:'Roboto Slab', serif;
    margin-top: 10px;
    border-bottom: 3px solid gray;
    padding-bottom: 7px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #000000bd;
    border: 1px  solid red;
    
}
div.tinto{
    height: 370px;
   
}
div.tinto img{
   float: left;
   width: 165px;
   margin-right: 25px;
}
.tdtinto{
    text-decoration: none;
    font-size: 15px;
    color: black;
    margin-bottom: 12px;
    display: block; 
    font-family:'Roboto Slab', serif;

}
.thongtin{
    font-family: tahoma;
    font-size: 11px;
    color: gray;
    margin-bottom: 6px;
    
}
div.tinto{
    color: gray;
    font-family: tahoma;
    font-size: 13px;
    float: left;
    margin-bottom: -180px;
    margin-right: 8px;
    
}