.modal[aria-hidden='true'] { display: none; }

.modal { font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; }

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111;
}
.popup__left p{
  margin: 0
}
.modal__container {
  background-color: #fff;
  padding: 0;
  max-width: 100%;
  position: relative;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.65rem;
  line-height: 1.15;
  box-sizing: border-box;
}

.modal__close {
  background: #eee;
  border-radius: 50%;
  border: 0;
  right: 10px;
  top: 10px;
  position: absolute;
}

.modal__close:before { content: "\2715"; }
.modal__content p img{display:block}
.modal__content p{margin:0}
.modal__content {
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}
.readmore {
  margin-top: 0;
  display: inline-block;
  padding: 5px 10px;
  height: 30px;
  line-height: 30px;
}
.modal__btn {
 font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
 padding-top: .5rem;
 padding-bottom: .5rem;
  color: rgba(0,0,0,.8);
 border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  color: #fff;
}

.nice__input{
  width: 95%;
  border-radius: 5px;
  border: 1px solid #ccc;
  line-height: 35px;
  height: 35px;
  margin-bottom: 10px;
}